Repository allanasp/haspen-cms: changes, and which pre-commit hooks are due for each by the changed paths.
All: php-cs-fixer, phpstan, psalm, phpunit, laravel-route-list, composer-audit

php-cs-fixer:
  name: PHP CS Fixer
  entry: ./vendor/bin/php-cs-fixer
  args:
  - fix
  - --config=.php-cs-fixer.php
  - --verbose
  - --diff
  language: system

phpstan:
  name: PHPStan Static Analysis
  entry: ./vendor/bin/phpstan
  args:
  - analyse
  - --memory-limit=1G
  - --no-progress
  language: system

psalm:
  name: Psalm Static Analysis
  entry: ./vendor/bin/psalm
  args:
  - --no-cache
  - --show-info=false
  language: system

phpunit:
  name: PHPUnit Tests
  entry: php
  args:
  - artisan
  - test
  - --parallel
  language: system
  pass_filenames: false

laravel-route-list:
  name: Laravel Route List Check
  entry: php
  args:
  - artisan
  - route:list
  - --compact
  language: system
  pass_filenames: false

composer-audit:
  name: Composer Security Audit
  entry: composer
  args:
  - audit
  - --no-dev
  language: system
  pass_filenames: false

feat: implement complete headless CMS with multi-tenant architecture and Storyblok-style content management
  README.md
  app/Models/Asset.php
  app/Models/Component.php
  app/Models/Datasource.php
  app/Models/DatasourceEntry.php
  app/Models/Role.php
  app/Models/Space.php
  app/Models/Story.php
  database/factories/ComponentFactory.php
  database/factories/SpaceFactory.php
  database/factories/StoryFactory.php
  database/migrations/2025_06_10_094549_create_spaces_table.php
  database/migrations/2025_06_10_094647_create_roles_table.php
  database/migrations/2025_06_10_094718_update_users_table_for_multitenancy.php
  database/migrations/2025_06_10_094810_create_space_user_table.php
  database/migrations/2025_06_10_094854_create_components_table.php
  database/migrations/2025_06_10_094939_create_stories_table.php
  database/migrations/2025_06_10_095038_create_assets_table.php
  database/migrations/2025_06_10_095131_create_datasources_table.php
  database/migrations/2025_06_10_095132_create_datasource_entries_table.php
  database/seeders/ComponentSeeder.php
  database/seeders/RoleSeeder.php
  database/seeders/SpaceSeeder.php
  docs/json-schemas.md
Due: php-cs-fixer, phpstan, psalm, phpunit

fix: resolve Docker build and PostgreSQL migration issues
  Dockerfile
  database/migrations/2025_06_10_094549_create_spaces_table.php
  database/migrations/2025_06_10_094647_create_roles_table.php
  database/migrations/2025_06_10_094718_update_users_table_for_multitenancy.php
  database/migrations/2025_06_10_094810_create_space_user_table.php
  database/migrations/2025_06_10_094854_create_components_table.php
  database/migrations/2025_06_10_094939_create_stories_table.php
  database/migrations/2025_06_10_095038_create_assets_table.php
  database/migrations/2025_06_10_095131_create_datasources_table.php
  database/migrations/2025_06_10_095132_create_datasource_entries_table.php
Due: php-cs-fixer, phpstan, psalm, phpunit

feat: implement comprehensive Eloquent models with PHP 8.3+ features
  README.md
  app/Casts/ComponentSchema.php
  app/Casts/Json.php
  app/Models/Component.php
  app/Models/Role.php
  app/Models/Space.php
  app/Models/Story.php
  app/Models/User.php
  app/Traits/Cacheable.php
  app/Traits/HasUuid.php
  app/Traits/MultiTenant.php
  app/Traits/Sluggable.php
Due: php-cs-fixer, phpstan, psalm, phpunit

fix: update PHPStan configuration
  phpstan.neon
Due: none

fix: update PHPStan excludePaths configuration
  phpstan.neon
Due: none

fix: clean up PHPStan configuration
  phpstan.neon
Due: none

chore: integrate Larastan for improved static analysis
  .github/workflows/ci.yml
  composer.json
  composer.lock
  phpstan.neon
  routes/console.php
Due: php-cs-fixer, phpstan, psalm, phpunit, laravel-route-list, composer-audit

refactor: remove invalid laravel section from phpstan.neon
  phpstan.neon
Due: none

docs: Adding extensive documentation to the Api, architecture, models, casts, and traits
  CONTRIBUTING.md
  docs/API.md
  docs/ARCHITECTURE.md
  docs/CASTS.md
  docs/MODELS.md
  docs/TRAITS.md
Due: none

fix: resolve PHPStan type violations across application layer
  app/Http/Controllers/Controller.php
  app/Http/Resources/BaseResource.php
  app/Models/Component.php
  app/Models/Role.php
  app/Models/Space.php
  app/Models/Story.php
  app/Models/User.php
  app/Repositories/BaseRepository.php
  app/Services/BaseService.php
  app/Services/JwtService.php
  app/Traits/Cacheable.php
  app/Traits/HasApiResponses.php
  app/Traits/HasUuid.php
  app/Traits/MultiTenant.php
  app/Traits/Sluggable.php
  phpstan.neon
  psalm.xml
Due: php-cs-fixer, phpstan, psalm, phpunit

fix: add timeout to PHP CS Fixer in GitHub workflow to prevent hanging
  .github/workflows/ci.yml
Due: none

fix: prevent PHP CS Fixer from failing CI on style violations
  .github/workflows/ci.yml
Due: none

fix: resolve PHP CS Fixer violations and add environment variable for CI
  .github/workflows/ci.yml
  app/Http/Resources/BaseResource.php
  app/Models/Component.php
  app/Services/JwtService.php
Due: php-cs-fixer, phpstan, psalm, phpunit

fix: remove node_modules reference from Psalm config for CI compatibility
  psalm.xml
Due: none

fix: psalm fixes part 1
  .github/workflows/ci.yml
  app/Casts/ComponentSchema.php
  app/Casts/Json.php
  app/Http/Middleware/ApiRateLimit.php
  app/Http/Resources/BaseResource.php
  app/Models/Asset.php
  app/Models/Component.php
  app/Models/Datasource.php
  app/Models/DatasourceEntry.php
  app/Models/Role.php
  app/Models/Space.php
  app/Models/Story.php
  app/Models/User.php
  app/Providers/AppServiceProvider.php
  app/Repositories/BaseRepository.php
  app/Services/BaseService.php
  app/Services/JwtService.php
  app/Traits/Cacheable.php
  app/Traits/HasApiResponses.php
  app/Traits/MultiTenant.php
  config/app.php
  database/factories/ComponentFactory.php
  database/factories/SpaceFactory.php
  database/factories/StoryFactory.php
  database/factories/UserFactory.php
  database/seeders/ComponentSeeder.php
  database/seeders/DatabaseSeeder.php
  database/seeders/RoleSeeder.php
  database/seeders/SpaceSeeder.php
  routes/api.php
Due: php-cs-fixer, phpstan, psalm, phpunit, laravel-route-list

fix: psalm part 2
  .php-cs-fixer.php
  app/Models/Component.php
  database/factories/ComponentFactory.php
  database/factories/SpaceFactory.php
  database/factories/StoryFactory.php
  database/factories/UserFactory.php
  phpstan.neon
Due: php-cs-fixer, phpstan, psalm, phpunit

fix: psalm part 3
  app/Models/User.php
  app/Repositories/BaseRepository.php
  app/Services/JwtService.php
  app/Traits/HasApiResponses.php
  app/Traits/MultiTenant.php
  app/Traits/Sluggable.php
  database/factories/SpaceFactory.php
  psalm.xml
Due: php-cs-fixer, phpstan, psalm, phpunit

fix: psalm part 4
  app/Models/Role.php
  app/Models/Space.php
  app/Models/Story.php
  app/Models/User.php
  app/Providers/AppServiceProvider.php
  app/Repositories/BaseRepository.php
  app/Traits/Cacheable.php
  app/Traits/Sluggable.php
Due: php-cs-fixer, phpstan, psalm, phpunit

fix: psalm part 5
  .php-cs-fixer.cache
  app/Models/Asset.php
  app/Models/Component.php
  app/Models/Datasource.php
  app/Models/DatasourceEntry.php
  app/Models/Role.php
  app/Models/Story.php
  app/Models/User.php
Due: php-cs-fixer, phpstan, psalm, phpunit

fix: psalm part 6
  app/Casts/ComponentSchema.php
  app/Casts/Json.php
  app/Http/Middleware/ApiRateLimit.php
  app/Http/Resources/BaseResource.php
  app/Models/Component.php
  app/Models/Role.php
  app/Models/Space.php
  app/Models/Story.php
  app/Models/User.php
  app/Traits/Cacheable.php
  app/Traits/MultiTenant.php
  config/cache.php
  config/database.php
  config/filesystems.php
  config/logging.php
  config/mail.php
  config/sanctum.php
  config/session.php
  database/factories/ComponentFactory.php
  database/factories/SpaceFactory.php
  database/factories/StoryFactory.php
  database/factories/UserFactory.php
  database/seeders/ComponentSeeder.php
  database/seeders/DatabaseSeeder.php
  database/seeders/RoleSeeder.php
  database/seeders/SpaceSeeder.php
  routes/api.php
Due: php-cs-fixer, phpstan, psalm, phpunit, laravel-route-list

fix: psalm 7
  app/Casts/ComponentSchema.php
  app/Http/Controllers/Controller.php
  app/Http/Middleware/ApiRateLimit.php
  app/Http/Resources/BaseResource.php
  app/Models/Asset.php
  app/Models/Component.php
  app/Models/Datasource.php
  app/Models/DatasourceEntry.php
  app/Models/Space.php
  app/Models/Story.php
  app/Models/User.php
  app/Providers/AppServiceProvider.php
  app/Repositories/BaseRepository.php
  app/Services/JwtService.php
  app/Traits/Cacheable.php
  app/Traits/HasApiResponses.php
  app/Traits/HasUuid.php
  app/Traits/MultiTenant.php
  app/Traits/Sluggable.php
  database/factories/SpaceFactory.php
Due: php-cs-fixer, phpstan, psalm, phpunit

fix: psalm 8
  app/Http/Middleware/ApiRateLimit.php
  app/Http/Resources/BaseResource.php
  app/Models/Component.php
  app/Models/Role.php
  app/Models/Space.php
  app/Models/Story.php
  app/Models/User.php
  app/Repositories/BaseRepository.php
  app/Services/JwtService.php
  app/Traits/Cacheable.php
  app/Traits/HasApiResponses.php
  app/Traits/MultiTenant.php
  database/factories/RoleFactory.php
  database/factories/SpaceFactory.php
Due: php-cs-fixer, phpstan, psalm, phpunit

feat: implement complete REST API structure for headless CMS
  app/Http/Controllers/Api/V1/Auth/AuthController.php
  app/Http/Controllers/Api/V1/Cdn/AssetController.php
  app/Http/Controllers/Api/V1/Cdn/DatasourceController.php
  app/Http/Controllers/Api/V1/Cdn/StoryController.php
  app/Http/Controllers/Api/V1/Management/AssetController.php
  app/Http/Controllers/Api/V1/Management/ComponentController.php
  app/Http/Controllers/Api/V1/Management/StoryController.php
  app/Http/Controllers/Controller.php
  app/Http/Middleware/ApiAuthentication.php
  app/Http/Middleware/ApiLogging.php
  app/Http/Middleware/ApiRateLimit.php
  app/Http/Middleware/TenantIsolation.php
  app/Http/Requests/LoginRequest.php
  app/Http/Requests/RegisterRequest.php
  app/Http/Requests/StoreAssetRequest.php
  app/Http/Requests/StoreComponentRequest.php
  app/Http/Requests/StoreStoryRequest.php
  app/Http/Requests/UpdateAssetRequest.php
  app/Http/Requests/UpdateComponentRequest.php
  app/Http/Requests/UpdateStoryRequest.php
  app/Http/Resources/AssetResource.php
  app/Http/Resources/ComponentResource.php
  app/Http/Resources/DatasourceEntryResource.php
  app/Http/Resources/StoryResource.php
  bootstrap/app.php
  config/logging.php
  routes/api.php
Due: php-cs-fixer, phpstan, psalm, phpunit, laravel-route-list

docs: restructure documentation for development focus and comprehensive coverage
  README.md
  docs/API.md
  docs/ARCHITECTURE.md
  docs/DEPLOYMENT.md
  docs/DEVELOPMENT.md
Due: none

feat: implement comprehensive story management system enhancements
  app/Console/Commands/TestDataCommand.php
  app/Http/Controllers/Management/StoryController.php
  app/Http/Resources/StoryResource.php
  app/Jobs/PublishStoryJob.php
  app/Models/Component.php
  app/Models/Story.php
  app/Models/StoryVersion.php
  app/Services/ContentRenderer.php
  app/Services/SlugGenerator.php
  app/Services/StoryService.php
  app/Services/VersionManager.php
  database/migrations/0001_01_01_000000_create_users_table.php.bak
  database/migrations/0001_01_01_000001_create_cache_table.php.bak
  database/migrations/0001_01_01_000002_create_jobs_table.php.bak
  database/migrations/2025_06_10_091736_create_personal_access_tokens_table.php.bak
  database/migrations/2025_06_10_094549_create_spaces_table.php.bak
  database/migrations/2025_06_10_094647_create_roles_table.php.bak
  database/migrations/2025_06_10_094718_update_users_table_for_multitenancy.php.bak
  database/migrations/2025_06_10_094810_create_space_user_table.php.bak
  database/migrations/2025_06_10_094854_create_components_table.php.bak
  database/migrations/2025_06_10_094939_create_stories_table.php.bak
  database/migrations/2025_06_10_095038_create_assets_table.php.bak
  database/migrations/2025_06_10_095131_create_datasources_table.php.bak
  database/migrations/2025_06_10_095132_create_datasource_entries_table.php.bak
  database/migrations/2025_06_11_212707_create_story_versions_table.php
  database/migrations/2025_06_11_212707_create_story_versions_table.php.bak
  database/migrations/2025_06_12_091312_add_content_locking_to_stories_table.php
  database/migrations/2025_06_12_091312_add_content_locking_to_stories_table.php.bak
  routes/api.php
  test-features.php
  test-story-features.php
  verify-database.php
Due: php-cs-fixer, phpstan, psalm, phpunit, laravel-route-list

docs: Update documentation for story management system
  docs/API.md
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT.md
  docs/MODELS.md
Due: none

test: implement comprehensive test suite for story management system
  TESTING.md
  run-story-management-tests.php
  tests/Feature/Api/Cdn/ContentDeliveryTest.php
  tests/Feature/Api/Management/StoryManagementTest.php
  tests/Unit/Models/ComponentValidationTest.php
  tests/Unit/Models/ContentTemplatesTest.php
  tests/Unit/Models/StoryLockingTest.php
  tests/Unit/Models/TranslationWorkflowTest.php
  tests/Unit/Services/StoryServiceTest.php
  tests/Unit/Services/VersionManagerTest.php
Due: php-cs-fixer, phpstan, psalm, phpunit

docs: update documentation for Pest framework and PostgreSQL default
  README.md
  composer.json
  composer.lock
  config/database.php
  database/factories/ComponentFactory.php
  docs/API.md
  docs/ARCHITECTURE.md
  docs/DEPLOYMENT.md
  docs/DEVELOPMENT.md
  phpstan.neon
  tests/Feature/PestExampleTest.php
  tests/Pest.php
Due: php-cs-fixer, phpstan, psalm, phpunit, composer-audit

feat: implement comprehensive Eloquent models with PHP 8.3+ features and multi-tenant architecture
  app/Models/Asset.php
  app/Models/Component.php
  app/Models/Datasource.php
  app/Models/DatasourceEntry.php
  app/Models/Role.php
  app/Models/Space.php
  app/Models/Story.php
  app/Models/StoryVersion.php
  app/Models/User.php
  app/Observers/AssetObserver.php
  app/Observers/ComponentObserver.php
  app/Observers/DatasourceObserver.php
  app/Observers/StoryObserver.php
  app/Providers/AppServiceProvider.php
Due: php-cs-fixer, phpstan, psalm, phpunit

feat: complete PostgreSQL 16+ database schema with multi-tenant architecture and full-text search
  database/factories/AssetFactory.php
  database/factories/ComponentFactory.php
  database/factories/DatasourceEntryFactory.php
  database/factories/DatasourceFactory.php
  database/factories/StoryFactory.php
  database/factories/UserFactory.php
  database/migrations/2025_06_16_000001_enable_postgresql_gin_indexes.php
  database/migrations/2025_06_16_000002_enable_row_level_security.php
  database/migrations/2025_06_16_000003_add_full_text_search.php
  database/migrations/2025_06_16_000004_create_missing_referenced_tables.php
  database/seeders/DatabaseSeeder.php
  database/seeders/InitialDataSeeder.php
Due: php-cs-fixer, phpstan, psalm, phpunit

feat: implement complete RESTful API with JWT authentication and comprehensive OpenAPI documentation
  app/Exceptions/ApiException.php
  app/Exceptions/Handler.php
  app/Http/Controllers/Api/V1/Auth/AuthController.php
  app/Http/Middleware/ApiAuthentication.php
  app/Http/Middleware/CorsMiddleware.php
  bootstrap/app.php
  routes/api.php
Due: php-cs-fixer, phpstan, psalm, phpunit, laravel-route-list

docs: update local development setup and add comprehensive quickstart guide
  .env.example
  QUICKSTART.md
  README.md
  composer.json
  docs/API.md
  docs/ARCHITECTURE.md
  docs/CASTS.md
  docs/DEPLOYMENT.md
  docs/DEVELOPMENT.md
  docs/MODELS.md
  docs/TRAITS.md
  docs/json-schemas.md
Due: composer-audit

feat: implement complete component system with inheritance, variants, and advanced features
  app/Http/Controllers/Api/V1/Management/ComponentController.php
  app/Http/Resources/ComponentResource.php
  app/Models/Component.php
  app/Services/ComponentLibraryManager.php
  app/Services/ComponentSchemaValidator.php
  app/Services/FieldTypeRegistry.php
  database/migrations/2025_06_16_000005_add_component_inheritance.php
  routes/api.php
Due: php-cs-fixer, phpstan, psalm, phpunit, laravel-route-list

Path conditions:
  php-cs-fixer: any of: \.php$, but not: (?x)^(
    vendor/.*|
    storage/.*|
    bootstrap/cache/.*|
    node_modules/.*
)$

  phpstan: any of: \.php$, but not: (?x)^(
    vendor/.*|
    storage/.*|
    bootstrap/cache/.*|
    node_modules/.*
)$

  psalm: any of: \.php$, but not: (?x)^(
    vendor/.*|
    storage/.*|
    bootstrap/cache/.*|
    node_modules/.*
)$

  phpunit: any of: \.php$, but not: (?x)^(
    vendor/.*|
    storage/.*|
    bootstrap/cache/.*|
    node_modules/.*
)$

  laravel-route-list: any of: routes/.*\.php$
  composer-audit: any of: composer\.(json|lock)$
